<p>
  <b>Id:</b>
  <%=h @cidade.id %>
</p>

<p>
  <b>Nome:</b>
  <%=h @cidade.nome %>
</p>

<p>
  <b>Estado:</b>
  <%=h @cidade.estado %>
</p>


<%= link_to 'Edit', edit_cidade_path(@cidade) %> |
<%= link_to 'Back', cidades_path %>