<p>
  <b>Nome:</b>
  <%=h @produto.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @produto.descricao %>
</p>

<p>
  <b>Categoria:</b>
  <%=h @produto.categoria %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>